
.DS_Store
__pycache__/model.cpython-36.pyc
__pycache__/dqn_agent.cpython-36.pyc
.ipynb_checkpoints/Navigation-checkpoint.ipynb
Banana.app/Contents/Frameworks/MonoBleedingEdge/MonoEmbedRuntime/osx/libmonobdwgc-2.0.dylib
Banana.app/Contents/Frameworks/MonoBleedingEdge/MonoEmbedRuntime/osx/libMonoPosixHelper.dylib
Banana.app/Contents/Info.plist
Banana.app/Contents/MacOS/mac_banana
Banana.app/Contents/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Banana.app/Contents/Mono/etc/mono/1.0/machine.config
Banana.app/Contents/Mono/etc/mono/2.0/Browsers/Compat.browser
Banana.app/Contents/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Banana.app/Contents/Mono/etc/mono/2.0/machine.config
Banana.app/Contents/Mono/etc/mono/2.0/settings.map
Banana.app/Contents/Mono/etc/mono/2.0/web.config
Banana.app/Contents/Mono/etc/mono/browscap.ini
Banana.app/Contents/Mono/etc/mono/config
Banana.app/Contents/Mono/etc/mono/mconfig/config.xml
Banana.app/Contents/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
Banana.app/Contents/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Banana.app/Contents/MonoBleedingEdge/etc/mono/2.0/machine.config
Banana.app/Contents/MonoBleedingEdge/etc/mono/2.0/settings.map
Banana.app/Contents/MonoBleedingEdge/etc/mono/2.0/web.config
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.0/machine.config
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.0/settings.map
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.0/web.config
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.5/machine.config
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.5/settings.map
Banana.app/Contents/MonoBleedingEdge/etc/mono/4.5/web.config
Banana.app/Contents/MonoBleedingEdge/etc/mono/browscap.ini
Banana.app/Contents/MonoBleedingEdge/etc/mono/config
Banana.app/Contents/MonoBleedingEdge/etc/mono/mconfig/config.xml
Banana.app/Contents/Plugins/libgrpc_csharp_ext.x64.bundle
Banana.app/Contents/Resources/Ageia.tif
Banana.app/Contents/Resources/Data/boot.config
Banana.app/Contents/Resources/Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.caw
Banana.app/Contents/Resources/Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.ecm
Banana.app/Contents/Resources/Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.iws.sse
Banana.app/Contents/Resources/Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.rgb
Banana.app/Contents/Resources/Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.rsc.sse
Banana.app/Contents/Resources/Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.vis
Banana.app/Contents/Resources/Data/globalgamemanagers
Banana.app/Contents/Resources/Data/globalgamemanagers.assets
Banana.app/Contents/Resources/Data/level0
Banana.app/Contents/Resources/Data/Managed/Assembly-CSharp.dll
Banana.app/Contents/Resources/Data/Managed/Google.Protobuf.dll
Banana.app/Contents/Resources/Data/Managed/Grpc.Core.dll
Banana.app/Contents/Resources/Data/Managed/Mono.Posix.dll
Banana.app/Contents/Resources/Data/Managed/Mono.Security.dll
Banana.app/Contents/Resources/Data/Managed/mscorlib.dll
Banana.app/Contents/Resources/Data/Managed/System.Configuration.dll
Banana.app/Contents/Resources/Data/Managed/System.Core.dll
Banana.app/Contents/Resources/Data/Managed/System.dll
Banana.app/Contents/Resources/Data/Managed/System.Interactive.Async.dll
Banana.app/Contents/Resources/Data/Managed/System.Security.dll
Banana.app/Contents/Resources/Data/Managed/System.Xml.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AccessibilityModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AccessibilityModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AIModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AIModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AnimationModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AnimationModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ARModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ARModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AssetBundleModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AssetBundleModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AudioModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.AudioModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ClothModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ClothModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ClusterInputModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ClusterInputModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ClusterRendererModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ClusterRendererModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.CoreModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.CoreModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.CrashReportingModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.CrashReportingModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.DirectorModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.DirectorModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.GameCenterModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.GameCenterModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.GridModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.GridModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ImageConversionModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ImageConversionModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.IMGUIModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.IMGUIModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.InputModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.InputModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.JSONSerializeModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.JSONSerializeModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.Networking.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ParticlesLegacyModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ParticlesLegacyModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ParticleSystemModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ParticleSystemModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.PerformanceReportingModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.PerformanceReportingModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.Physics2DModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.Physics2DModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.PhysicsModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.PhysicsModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ScreenCaptureModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.ScreenCaptureModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SharedInternalsModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SharedInternalsModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SpatialTracking.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SpriteMaskModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SpriteMaskModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SpriteShapeModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.SpriteShapeModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.StandardEvents.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.StyleSheetsModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.StyleSheetsModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TerrainModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TerrainModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TerrainPhysicsModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TextRenderingModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TextRenderingModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TilemapModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.TilemapModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.Timeline.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UI.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UIElementsModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UIElementsModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UIModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UIModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UNETModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UNETModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityAnalyticsModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityConnectModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityConnectModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestAudioModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestTextureModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.UnityWebRequestWWWModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.VehiclesModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.VehiclesModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.VideoModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.VideoModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.VRModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.VRModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.WebModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.WebModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.WindModule.dll
Banana.app/Contents/Resources/Data/Managed/UnityEngine.WindModule.xml
Banana.app/Contents/Resources/Data/Managed/UnityEngine.xml
Banana.app/Contents/Resources/Data/Resources/unity_builtin_extra
Banana.app/Contents/Resources/Data/sharedassets0.assets
Banana.app/Contents/Resources/Data/sharedassets0.assets.resS
Banana.app/Contents/Resources/DefaultPreferences.plist
Banana.app/Contents/Resources/KeyConfig.nib/classes.nib
Banana.app/Contents/Resources/KeyConfig.nib/info.nib
Banana.app/Contents/Resources/KeyConfig.nib/keyedobjects.nib
Banana.app/Contents/Resources/MainMenu.nib/classes.nib
Banana.app/Contents/Resources/MainMenu.nib/info.nib
Banana.app/Contents/Resources/MainMenu.nib/keyedobjects.nib
Banana.app/Contents/Resources/Mono.tif
Banana.app/Contents/Resources/ScreenSelector.nib/classes.nib
Banana.app/Contents/Resources/ScreenSelector.nib/designable.nib
Banana.app/Contents/Resources/ScreenSelector.nib/info.nib
Banana.app/Contents/Resources/ScreenSelector.nib/keyedobjects.nib
Banana.app/Contents/Resources/unity default resources
Banana.app/Contents/Resources/UnityPlayerIcon.png
(Optional) Challenge Learning from Pixels/.ipynb_checkpoints/Navigation_Pixels-checkpoint.ipynb
